html *{
    font-family: "Share Tech Mono", Avenir, Helvetica, Arial, sans-serif;
}

.standard-box{
    background-color: $color-background;
    border: 3px solid $color-accent;
    border-radius: 10px;
    &.light{
        background-color: $color-light
    }
}

.button{
    text-transform: uppercase;
    border: 1px solid $color-accent;
    background-color: $color-main;
    color: $color-background;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    font-weight: 700;
    font-size: $font-xs;
    display:flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: $color-accent;
    }
    &:active{
        color: $color-active;
    }

}

.input{
    display:block;
    margin: 0 auto;
     width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid $color-accent;
    background-color: $color-main;
    color: $color-background;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: $font-xs;
    display:flex;
    justify-content: center;
    align-items: center;
    &:disabled{
        cursor: default;
    opacity: 0.7;}
}


.select{
    display:block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid $color-accent;
    background-color: $color-main;
    color: $color-background;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: $font-xs;
    display:flex;
    justify-content: center;
    align-items: center;
}