
$color-background: #303030;
$color-main: #FFF;
$color-blue: #40B5FF;
$color-yellow: #ebe965;
$color-red:#eb4d4e;

$color-light: #ccc;
$color-dark: #5d5d5d;

$font-xs: 1rem;
$font-sm: 1.3rem;
$font-md: 2.4rem;
$font-lg: 4rem;
$font-xl: 6rem;