
$color-background: #303030;
$color-main: #FFF;

$color-accent: #40B5FF;
$color-active: #ebe965;
$color-alert:#eb4d4e;

$color-light: #ccc;
$color-dark: #5d5d5d;

$color-white: $color-main;

$font-xs: 1rem;
$font-sm: 1.3rem;
$font-md: 2.4rem;
$font-lg: 4rem;
$font-xl: 6rem;